<div class="home">
  <header>
    <h2>Welcome to Songbook!</h2>
  </header>
  <section>
    <div>
      <h3>
        A web app for people who sing.
      </h3>
      <p>Store song lyrics and view
        them on an auto-scrolling teleprompter on your mobile device, tablet, or
        computer.
      </p>

      <ul>
        <li>Tap to start and stop scrolling lyrics.</li>
        <li>Control the scrolling speed with the sldier.</li>
        <li>Create setlists of songs.</li>
        <li>Use Practice Mode to pick random songs for you to practice.</li>
        <li>Use Practice Mode on a specific playlist to prepare for your gig.</li>
      </ul>
    </div>
    <figure>
      <%= image_tag "song.gif" %>
    </figure>
  </section>
</div>




