// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.home {
  .wrapper {
    width: 90%;
    margin: 0 auto;
  }

  img {
    border: 1px solid #ddd;
    width: 100%;
    height: auto;
  }


  @media (min-width: 760px) {
    section {
      flex: 1;
      display: flex;

      div {
        flex: 1;
      }
    }

    img {
      width: 50%;
    }
  }

}
