* {
  box-sizing: border-box;
}

body {
  margin:0;
  padding:0;
}

html, body, .wrapper {
  height: 100%;
}

.wrapper {
  margin: 0 auto;
}


body {
  font-family: Arial, Helvetica, sans-serif;
}

header, footer, main, nav {
  margin: 0 0.25em;
}

h1, h2 {
  margin: 0 0 10px 0;
}


h1, h2, p {
  font-size: 16px;
}

.wrapper {
  position: relative;
}

@media (min-width: 760px) {

  h1 {font-size: 24px }

  .wrapper {
    width: 90%;
    display: block;
  }

  nav {
    a {
      display: inline-block;
      padding-right: 1em;
    }

  }

}
@media (min-width: 1400px) {

  .wrapper {
    width: 50%;
  }

}
