#songs_show {
  footer {display: none}
}
#song {
  display: flex;
  flex-direction: column;
  height: 90vh;
}

#song > header {flex: 0 }

#song > #lyrics {
  font-size: 300%;
  overflow-y: auto;
  margin: 0.25em 0 0 0;
  padding: 0 0.25em 2em 0.25em;
}

#speedSlider {
  display: block;
  margin: 0 auto;
  width: 80%
}
